<launch>

  <arg name="UAV_NAME" default="$(optenv UAV_NAME uav1)"/>

  <arg name="debug" default="false" />

  <arg name="standalone" default="true" />

  <arg     if="$(arg standalone)" name="nodelet" value="standalone"/>
  <arg unless="$(arg standalone)" name="nodelet" value="load"/>
  <arg     if="$(arg standalone)" name="nodelet_manager" value=""/>
  <arg unless="$(arg standalone)" name="nodelet_manager" value="$(arg UAV_NAME)_nodelet_manager"/>

  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch"/>
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>

  <group ns="$(arg UAV_NAME)">

    <node pkg="nodelet" type="nodelet" name="precise_landing" args="$(arg nodelet) mrs_precise_landing/PreciseLanding $(arg nodelet_manager)" output="screen" launch-prefix="$(arg launch_prefix)">

      <rosparam file="$(find mrs_precise_landing)/config/precise_landing.yaml" />

      <param name="uav_name" type="string" value="$(arg UAV_NAME)"/>

      <!-- Subscribers -->

      <remap from="~landing_pad_in" to="landing_pad_estimation/pose_estimate" />
      <remap from="~tracker_cmd_in" to="control_manager/tracker_cmd" />
      <remap from="~uav_state_in" to="estimation_manager/uav_state" />
      <remap from="~mass_nominal_in" to="control_manager/mass_nominal" />
      <remap from="~mass_estimate_in" to="control_manager/mass_estimate" />

      <!-- Service callers -->

      <remap from="~toggle_output_out" to="control_manager/toggle_output" />
      <remap from="~switch_controller_out" to="control_manager/switch_controller" />

      <!-- Advertised services -->

      <remap from="~land_in" to="~land" />
      <remap from="~stop_in" to="~stop" />

      <!-- Publishers -->

      <remap from="~trajectory_reference_out" to="control_manager/trajectory_reference" />

    </node>

  </group>

</launch>
