<launch>

  <arg name="UAV_NAME" default="$(optenv UAV_NAME uav1)"/>
  <arg name="LOGGER_DEBUG" default="$(optenv LOGGER_DEBUG false)"/>

  <arg name="debug" default="false" />

  <arg name="standalone" default="true" />

  <arg name="camera_node" default="" />
  <arg name="image_topic" default="" />
  <arg name="apriltag_config" default="" />
  <arg name="controller_config" default="" />
  <arg name="estimator_config" default="" />

  <arg     if="$(arg standalone)" name="nodelet" value="standalone"/>
  <arg unless="$(arg standalone)" name="nodelet" value="load"/>
  <arg     if="$(arg standalone)" name="nodelet_manager" value=""/>
  <arg unless="$(arg standalone)" name="nodelet_manager" value="$(arg UAV_NAME)_nodelet_manager"/>

  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch"/>
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>

  <env name="ROSCONSOLE_CONFIG_FILE" if="$(eval arg('LOGGER_DEBUG'))" value="$(find mrs_precise_landing)/config/debug_verbosity.yaml" />

  <include file="$(find mrs_landing_pad_estimation)/launch/landing_pad_estimation.launch">

    <arg name="camera_node" default="$(arg camera_node)" />
    <arg name="image_topic" default="$(arg image_topic)" />
    <arg name="apriltag_config" default="$(arg apriltag_config)" />
    <arg name="estimator_config" default="$(arg estimator_config)" />

  </include>

  <group ns="$(arg UAV_NAME)">

    <node pkg="nodelet" type="nodelet" name="precise_landing" args="$(arg nodelet) mrs_precise_landing/PreciseLanding $(arg nodelet_manager)" output="screen" launch-prefix="$(arg launch_prefix)">

      <rosparam file="$(find mrs_precise_landing)/config/precise_landing.yaml" />
      <rosparam if="$(eval not arg('controller_config') == '')" file="$(arg controller_config)" />

      <param name="uav_name" type="string" value="$(arg UAV_NAME)"/>

        <!-- Subscribers -->

      <remap from="~landing_pad_in" to="landing_pad_estimation/pose_estimate" />
      <remap from="~tracker_cmd_in" to="control_manager/tracker_cmd" />
      <remap from="~uav_state_in" to="estimation_manager/uav_state" />
      <remap from="~mass_estimate_in" to="control_manager/mass_estimate" />
      <remap from="~ctrl_diag_in" to="control_manager/diagnostics" />

        <!-- Service callers -->

      <remap from="~switch_controller_out" to="control_manager/switch_controller" />
      <remap from="~switch_tracker_out" to="control_manager/switch_tracker" />
      <remap from="~arming_out" to="control_manager/arm" />
      <remap from="~set_min_z_out" to="control_manager/set_min_z" />
      <remap from="~enable_min_height_check_out" to="uav_manager/enable_min_height_check" />
      <remap from="~path_out" to="trajectory_generation/path" />

        <!-- Advertised services -->

      <remap from="~land_in" to="~land" />
      <remap from="~abort_in" to="~abort" />

        <!-- Publishers -->

      <remap from="~trajectory_reference_out" to="control_manager/trajectory_reference" />

    </node>

  </group>

</launch>
