controller: "Se3Controller"

tracker: "MpcTracker"

# the frame id in which all the operations are conducted
frame_id: "fixed_origin"

desired_heading:

  relative_to_pad:
    enabled: true
    heading: 0.0 # [rad]

stages:

  aligning:
    speed: 1.0    # [m/s]
    height: 3.0   # [m]
    radius: 0.2   # [m]
    timeout: 10.0 # [s]

  descending:
    speed: 0.5    # [m/s]
    height: 1.0   # [m]
    timeout: 10.0 # [s]

  aligning2:

    timeout: 10.0 # [s]

    criterion:

      initial_radius: 0.03         # [m], +-
      radius_increase_rate: 0.005  # [m/s]
      limit_radius: 0.08           # [m/s]

    in_alignment_duration: 0.5 # [s]

  landing:
    speed: 0.25          # [m/s]
    height: -1.0         # [m], this is relative to the tracker_cmdk
    repeat_threshold: 3  # [-]

  repeating:
    height: 2.0 # [m]
    speed: 1.5 # [m/s]

  ascending:
    speed: 0.5 # [m/s]
    height: 2.0 # [m]

  aborting:
    height: 4.0 # [m]

# rate of publishing the trajectory
rate: 10.0 # [Hz]

# sampling of the trajectory
trajectory_dt: 0.20 # [s]
