prediction_rate: 100.0 # [Hz]

# order by their embeddedness
# the first one is the smallest and the most embedded one
tag_ids: [0, 10] # [-]

estimation_frame: "fixed_origin"

correction_timeout: 5.0 # [s]

# max relative distance to the landing tag
max_relative_distance: 8.0

lkf:

  # state matrix
  A: [1.0, 0, 0, 0,
      0, 1.0, 0, 0,
      0, 0, 1.0, 0,
      0, 0, 0, 1.0]

  # input matrix
  B: []

  # measurement noise
  R: [1.0, 0, 0, 0,
      0, 1.0, 0, 0,
      0, 0, 1.0, 0,
      0, 0, 0, 1.0]

  # process covariance
  Q: [1.0, 0, 0, 0,
      0, 1.0, 0, 0,
      0, 0, 1.0, 0,
      0, 0, 0, 1.0]

  # measurement mapping
  H: [1.0, 0, 0, 0,
      0, 1.0, 0, 0,
      0, 0, 1.0, 0,
      0, 0, 0, 1.0]
